* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
 
  .card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 60%;
    height: 260px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
  }
  
  thead{
    font-weight: 500;
    line-height: 18.29px;
    color: #26A9BE;
  }
  .card h3 {
    font-size: 22px;
    font-weight: 600;
  
  }
  
 
  
 
  